@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using EventPro.Web.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EventPro | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lte/assets/plugins/fontawesome-free/css/all.min.css">
    <link href="~/lte/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/lte/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/lte/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/lte/assets/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lte/assets//css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/lte/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/lte/assets/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link href="~/lte/assets/plugins/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lte/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lte/assets/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/lte/assets/css/site.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/assets/img/MyInvite.jpg">
</head>
@{
    var CurrentUrl = Convert.ToString(this.Url.Action());

    ViewBag.DashboardActive = "";
    ViewBag.EventActive = "";
    ViewBag.WaQRReportActive = "";
    ViewBag.WaTextReportActive = "";
    ViewBag.ScanLogsActive = "";


    if (CurrentUrl.ToLower().Equals("/user"))
        ViewBag.DashboardActive = "active"; 
    if (CurrentUrl.ToLower().Equals("/user/events"))
        ViewBag.EventActive = "active";
    if (CurrentUrl.ToLower().Equals("/user/WaQRReport".ToLower()))
        ViewBag.WaQRReportActive = "active";
    if (CurrentUrl.ToLower().Equals("/user/WaTextReport".ToLower()))
        ViewBag.WaTextReportActive = "active";
    if (CurrentUrl.ToLower().Equals("/user/ScanLogs".ToLower()))
        ViewBag.ScanLogsActive = "active";

}
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/user/index" class="nav-link">Home</a>
                </li>

            </ul>


            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown" style="display:none">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/lte/assets/img/profile-pic.png" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/lte/assets/img/profile-pic.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/lte/assets/img/profile-pic.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown" style="display:none">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> Event created in System
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> Users created
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/assets/img/MyInvite.jpg" alt="My Invite" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">My Invite</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/lte/assets/img/profile-pic.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@AppSession.GetSession(this.Context, SesionConstant.FirstName) @AppSession.GetSession(this.Context, SesionConstant.LastName)</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="~/user" class="nav-link @ViewBag.DashboardActive">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboad
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/user/events" class="nav-link @ViewBag.EventActive">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    Events
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-calendar"></i>
                                <p>
                                    Reports
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="~/user/WaTextReport" class="nav-link @ViewBag.WaTextReportActive">
                                        <i class="nav-icon fas fa-test"></i>
                                        <p>
                                            Confirmation
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/user/WaQRReport" class="nav-link @ViewBag.WaQRReportActive">
                                        <i class="nav-icon fas fa-test"></i>
                                        <p>
                                            Push Notification
                                        </p>
                                    </a>
                                </li>
                         
                                <li class="nav-item">
                                    <a href="~/user/ScanLogs" class="nav-link @ViewBag.ScanLogsActive">
                                        <i class="nav-icon fas fa-test"></i>
                                        <p>
                                            Scan Logs
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="~/account/Logout" class="nav-link">
                                <i class="nav-icon fas  fa-power-off"></i>
                                <p>
                                    Logout
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark" style="color:dodgerblue"><i class="@ViewBag.Icon"></i> &nbsp;&nbsp; @ViewBag.PageTitle</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="~/user">Home</a></li>
                                <li class="breadcrumb-item active">@ViewBag.PageTitle</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            @RenderBody()
        </div>

        @*<footer class="main-footer">
                <strong>Copyright &copy; 2014-2019 <a href="#">AdminLTE.io</a>.</strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                    <b>Version</b> 3.0.5
                </div>
            </footer>*@

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>

        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <!--<script src="~/lte/assets/plugins/jquery/jquery.min.js"></script>-->
    <!-- jQuery UI 1.11.4 -->
    <!--<script src="~/lte/assets/plugins/jquery-ui/jquery-ui.min.js"></script>-->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!--<script>$.widget.bridge('uibutton', $.ui.button)</script>-->
    <!-- Bootstrap 4 -->
    <!--<script src="~/lte/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <!-- ChartJS -->
    <!--<script src="~/lte/assets/plugins/chart.js/Chart.min.js"></script>-->
    <!-- Sparkline -->
    <!--<script src="~/lte/assets/plugins/sparklines/sparkline.js"></script>-->
    <!-- JQVMap -->
    <!--<script src="~/lte/assets/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/lte/assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>-->
    <!-- jQuery Knob Chart -->
    <!--<script src="~/lte/assets/plugins/jquery-knob/jquery.knob.min.js"></script>-->
    <!-- daterangepicker -->
    <!--<script src="~/lte/assets/plugins/moment/moment.min.js"></script>
    <script src="~/lte/assets/plugins/daterangepicker/daterangepicker.js"></script>-->
    <!-- Tempusdominus Bootstrap 4 -->
    <!--<script src="~/lte/assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>-->
    <!-- Summernote -->
    <!--<script src="~/lte/assets/plugins/summernote/summernote-bs4.min.js"></script>-->
    <!-- overlayScrollbars -->
    <!--<script src="~/lte/assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>-->
    <!-- AdminLTE App -->
    <!--<script src="~/lte/assets//js/adminlte.js"></script>-->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!--<script src="~/lte/assets//js/pages/dashboard.js"></script>-->
    <!-- AdminLTE for demo purposes -->
    <!--<script src="~/lte/assets//js/demo.js"></script>-->
    <script src="@Url.Content("~")/lte/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~")/lte/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="@Url.Content("~")/lte/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <!-- jquery-validation -->
    <script src="@Url.Content("~")/lte/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="@Url.Content("~")/lte/assets/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="@Url.Content("~")/lte/assets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- AdminLTE -->
    <script src="@Url.Content("~")/lte/assets/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    @*<script src="@Url.Content("~")/plugins/chart.js/Chart.min.js"></script>*@
    <script src="@Url.Content("~")/lte/assets/js/demo.js"></script>
    <script src="@Url.Content("~")/lte/assets/plugins/select2/js/select2.js"></script>

    @*<script src="@Url.Content("~")/lte/assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="@Url.Content("~")/lte/assets/plugins/datatables-buttons/js/buttons.bootstrap4.js"></script>
        <script src="@Url.Content("~")/lte/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="@Url.Content("~")/lte/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="@Url.Content("~")/lte/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.2.1/b-colvis-2.2.1/b-html5-2.2.1/b-print-2.2.1/cr-1.5.5/date-1.1.1/fc-4.0.1/fh-3.2.1/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.0/sp-1.4.0/sl-1.3.4/sr-1.1.0/datatables.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.2.1/b-colvis-2.2.1/b-html5-2.2.1/b-print-2.2.1/cr-1.5.5/date-1.1.1/fc-4.0.1/fh-3.2.1/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.0/sp-1.4.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>
    <script src="~/lte/assets/js/qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script>
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
            $('.textarea').summernote()
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
            $('#searchableTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'print'
                ],
                "order": [[0, "desc"]],
                "paging": true,
                "keys": false,
                "fixedHeader": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
            $('#searchableTable2').DataTable({
                "order": [[0, "desc"]],
                "paging": true,
                "keys": false,
                "fixedHeader": false,
                "buttons": [
                    'copy', 'csv', 'excel', 'print'
                ],
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
            $('.color-picker').colorpicker();
            $('.color-picker').on('change', function (e) {
                GenerateQR()
            });
            $('#BarcodeWidth').on('change', function (e) {
                GenerateQR()
            });
            $('#BarcodeHeight').on('change', function (e) {
                GenerateQR()
            });

            $('#DefaultFont').on('change', function (e) {
                SetFontPreview();
            });

            $('#mydiv').on('dblclick', function (e) {
                $('#lblTitlebarcode').text('Barcode')
                $('#barcodeSize').val($('#BarcodeWidth').val())
                var modalDiv = $('#barcode-RightPropertyPanel');
                modalDiv.modal({ backdrop: false, show: true });
            });
            $('#text1').on('dblclick', function (e) {
                $('#lblTitle').text('Guest Name')
                ShowRightPropertyPanel();
            });
            $('#contactNo').on('dblclick', function (e) {
                $('#lblTitle').text('Contact No')
                ShowRightPropertyPanel();
            });
            $('#cardAddText').on('dblclick', function (e) {
                $('#lblTitle').text('Additional Text')
                ShowRightPropertyPanel();
            });
            $('#cardNoScan').on('dblclick', function (e) {
                $('#lblTitle').text('No. of Scan')
                ShowRightPropertyPanel();
            });

            $('#fontColor').on('change', function (e) {
                switch ($('#lblTitle').text()) {
                    case "Barcode":
                        break;
                    case "Guest Name":
                        $("#text1").css({ "color": $('#fontColor').val() });
                        $('#FontColor').val($('#fontColor').val());
                        break;
                    case "Contact No":
                        $("#contactNo").css({ "color": $('#fontColor').val() });
                        $('#ContactNoFontColor').val($('#fontColor').val());
                        break;
                    case "Additional Text":
                        $("#cardAddText").css({ "color": $('#fontColor').val() });
                        $('#AltTextFontColor').val($('#fontColor').val());
                        break;
                    case "No. of Scan":
                        $("#cardNoScan").css({ "color": $('#fontColor').val() });
                        $('#NosfontColor').val($('#fontColor').val());
                        break;
                }
            });

            $('#font-normal').on('click', function (e) {
                switch ($('#lblTitle').text()) {
                    case "Barcode":
                        break;
                    case "Guest Name":
                        $('#text1').css({ 'font-weight': 'normal', 'font-style': 'normal' })
                        break;
                    case "Contact No":
                        $('#contactNo').css({ 'font-weight': 'normal', 'font-style': 'normal' })
                        break;
                    case "Additional Text":
                        $('#cardAddText').css({ 'font-weight': 'normal', 'font-style': 'normal' })
                        break;
                    case "No. of Scan":
                        $('#cardNoScan').css({ 'font-weight': 'normal', 'font-style': 'normal' })
                        break;
                }
            });

            $('#font-bold').on('click', function (e) {
                switch ($('#lblTitle').text()) {
                    case "Barcode":
                        break;
                    case "Guest Name":
                        $('#text1').css({ 'font-weight': 'bold' })
                        break;
                    case "Contact No":
                        $('#contactNo').css({ 'font-weight': 'bold' })
                        break;
                    case "Additional Text":
                        $('#cardAddText').css({ 'font-weight': 'bold' })
                        break;
                    case "No. of Scan":
                        $('#cardNoScan').css({ 'font-weight': 'bold' })
                        break;
                }
            });

            $('#font-italic').on('click', function (e) {
                switch ($('#lblTitle').text()) {
                    case "Barcode":
                        break;
                    case "Guest Name":
                        $('#text1').css({ 'font-style': 'italic', 'font-weight': 'normal' })
                        break;
                    case "Contact No":
                        $('#contactNo').css({ 'font-style': 'italic', 'font-weight': 'normal' })
                        break;
                    case "Additional Text":
                        $('#cardAddText').css({ 'font-style': 'italic', 'font-weight': 'normal' })
                        break;
                    case "No. of Scan":
                        $('#cardNoScan').css({ 'font-style': 'italic', 'font-weight': 'normal' })
                        break;
                }
            });

            $('#barcodeSize').on('change', function (e) {
                $('#BarcodeWidth').val($('#barcodeSize').val());
                $('#BarcodeHeight').val($('#barcodeSize').val());
                $("#mydivheader").css({ "width": $('#barcodeSize').val() + 'px' });
                $("#mydivheader").css({ "height": $('#barcodeSize').val() + 'px' });
            });

            $('#fontSize').on('change', function (e) {
                switch ($('#lblTitle').text()) {
                    case "Barcode":
                        break;
                    case "Guest Name":
                        $("#text1").css({ "font-size": $('#fontSize').val() + 'px' });
                        $('#FontSize').val($('#fontSize').val());
                        break;
                    case "Contact No":
                        $("#contactNo").css({ "font-size": $('#fontSize').val() + 'px' });
                        $('#ContactNoFontSize').val($('#fontSize').val());
                        break;
                    case "Additional Text":
                        $("#cardAddText").css({ "font-size": $('#fontSize').val() + 'px' });
                        $('#AltTextFontSize').val($('#fontSize').val());
                        break;
                    case "No. of Scan":
                        $("#cardNoScan").css({ "font-size": $('#fontSize').val() + 'px' });
                        $('#NosfontSize').val($('#fontSize').val());
                        break;
                }
            });

            $('#SelectedFont').on('change', function (e) {
                switch ($('#lblTitle').text()) {
                    case "Barcode":
                        break;
                    case "Guest Name":
                        $('#text1').css({ "font-family": $('#SelectedFont').val() });
                        $('#FontName').val($('#SelectedFont').val());
                        break;
                    case "Contact No":
                        $("#contactNo").css({ "font-family": $('#SelectedFont').val() });
                        $('#ContactNoFontName').val($('#SelectedFont').val());
                        break;
                    case "Additional Text":
                        $("#cardAddText").css({ "font-family": $('#SelectedFont').val() });
                        $('#AltTextFontName').val($('#SelectedFont').val());
                        break;
                    case "No. of Scan":
                        $("#cardNoScan").css({ "font-family": $('#SelectedFont').val() });
                        $('#NosfontName').val($('#SelectedFont').val());
                        break;
                }
            });

            function ShowRightPropertyPanel() {

                switch ($('#lblTitle').text()) {
                    case "Barcode":
                        break;
                    case "Guest Name":
                        $('#SelectedFont').val($('#FontName').val()).trigger('change');
                        $('#fontSize').val($('#FontSize').val());
                        $('#fontColor').val($('#FontColor').val());
                        break;
                    case "Contact No":
                        $('#SelectedFont').val($('#ContactNoFontName').val()).trigger('change');
                        $('#fontSize').val($('#ContactNoFontSize').val());
                        $('#fontColor').val($('#ContactNoFontColor').val());
                        break;
                    case "Additional Text":
                        $('#SelectedFont').val($('#AltTextFontName').val()).trigger('change');
                        $('#fontSize').val($('#AltTextFontSize').val());
                        $('#fontColor').val($('#AltTextFontColor').val());
                        break;
                    case "No. of Scan":
                        $('#SelectedFont').val($('#NosfontName').val()).trigger('change');
                        $('#fontSize').val($('#NosfontSize').val());
                        $('#fontColor').val($('#NosfontColor').val());
                        break;
                }

                var modalDiv = $('#myModal-RightPropertyPanel');
                modalDiv.modal({ backdrop: false, show: true });
                //$('.modal-dialog').draggable({
                //    handle: ".modal-header"
                //});
            }

            $('#cardPlaceHolder').on('change', function (e) {
                var selectedPlaceHolder = $('#cardPlaceHolder').val();
                $("#mydiv").css({ "display": "none" });
                $("#text1").css({ "display": "none" });
                $("#contactNo").css({ "display": "none" });
                $("#cardAddText").css({ "display": "none" });
                $("#cardNoScan").css({ "display": "none" });

                $('#SelectedPlaceHolder').val($('#cardPlaceHolder').val());
                $.each(selectedPlaceHolder, function (idx, val) {
                    switch (val) {
                        case "QR Code":
                            $("#mydiv").css({ "display": "inline" });
                            if ($('#BarcodeXaxis').val() < 0) {
                                $('#BarcodeYaxis').val(100);
                                $('#BarcodeXaxis').val(100);
                            }

                            break;
                        case "Guest Name":
                            $("#text1").css({ "display": "inline" });
                            if ($('#ContactNameYaxis').val() < 0) {
                                $('#ContactNameYaxis').val(100);
                                $('#ContactNameXaxis').val(100);
                            }
                            break;
                        case "Mobile No":
                            $("#contactNo").css({ "display": "inline" });
                            if ($('#ContactNoYaxis').val() < 0) {
                                $('#ContactNoYaxis').val(100);
                                $('#ContactNoXaxis').val(100);
                            }
                            break;
                        case "Additional Text":
                            $("#cardAddText").css({ "display": "inline" });
                            if ($('#AltTextYaxis').val() < 0) {
                                $('#AltTextYaxis').val(100);
                                $('#AltTextXaxis').val(100);
                            }
                            break;
                        case "No. of Scan":
                            $("#cardNoScan").css({ "display": "inline" });
                            if ($('#Nosyaxis').val() < 0) {
                                $('#Nosyaxis').val(100);
                                $('#Nosxaxis').val(100);
                            }
                            break;
                    }
                });
                setCardPosition();
            });
        });
        function SetFontPreview() {
            $('#fontPreview').css({ "font-family": $('#DefaultFont').val() });
        }
        SetFontPreview();
        function GenerateQR() {
            if (document.getElementById('barcodeRange') != undefined) {
                var width = document.getElementById('barcodeRange').value;
                var height = document.getElementById('barcodeRange').value;
                var background = document.getElementById('BackgroundColor').value;
                var foreground = document.getElementById('ForegroundColor').value;
                if (foreground == "Transparent")
                    foreground = "#FFFFFF";

                if (document.getElementById('ForegroundColor').value == "#FFFFFF") {

                }
                document.getElementById("qrcode").innerHTML = "";
                var qrcode = new QRCode(document.getElementById("qrcode"), {
                    width: width,
                    height: height,
                    colorDark: background,
                    colorLight: foreground,
                });
                qrcode.makeCode('EventPro')
            }
        }
        GenerateQR();

        function SetEventId(eventId) {
            $('#GuestId').val(0);
            $('#FirstName').val('');
            $('#NoOfMembers').val('');
            $('#PrimaryContactNo').val('');
            $('#AdditionalText').val('');
            $('#modalTitle').text('Add Guest');
            $('#EventId').val(eventId);
            $('#modal-guest').modal('show');
        }
        //Make the DIV element draggagle:

        dragElement(document.getElementById("mydiv"));
        dragElement(document.getElementById("text1"));
        dragElement(document.getElementById("contactNo"));
        dragElement(document.getElementById("cardAddText"));
        dragElement(document.getElementById("cardNoScan"));

        $('#multiple-checkboxes').multiselect();

        function dragElement(elmnt) {
            if (elmnt !== undefined) {
                var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
                elmnt.onmousedown = dragMouseDown;

                function dragMouseDown(e) {
                    e = e || window.event;
                    e.preventDefault();
                    pos3 = e.clientX;
                    pos4 = e.clientY;
                    document.onmouseup = closeDragElement;
                    document.onmousemove = elementDrag;
                }

                function elementDrag(e) {
                    e = e || window.event;
                    e.preventDefault();
                    pos1 = pos3 - e.clientX;
                    pos2 = pos4 - e.clientY;
                    pos3 = e.clientX;
                    pos4 = e.clientY;

                    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
                }

                function closeDragElement() {
                    document.onmouseup = null;
                    document.onmousemove = null;
                }
            }
        }

        function SetCardBackground(imageURL) {
            $("#mainBody").css({ "background-image": "url(" + imageURL + ")" });
        }

        function browserBack() {
            window.history.go(-1);
        }

        function LoadPlaceholder() {
            $('#cardPlaceHolder').val($("#SelectedPlaceHolder").val().split(",")).change();

        }

        function ToggleLang() {
            //English
            if (document.getElementById('switchLang').checked) {
                $("#text1").html('Guest Name');
                $("#contactNo").html('Contact No');
                $("#cardAddText").html('Additional Text');
                $("#cardNoScan").html('No');
                $('#FontAlignment').val("left");
            } else {
                //arbic
                $("#text1").html('??? ?????');
                $("#contactNo").html('??? ????????');
                $("#cardAddText").html('?? ?????');
                $("#cardNoScan").html('???');
                $('#FontAlignment').val("right");

            }
        }

        function saveCardPosition() {
            $('#BarcodeYaxis').val($('#mydivheader').offset().top - $('#mainBody').offset().top);
            $('#BarcodeXaxis').val($('#mydivheader').offset().left - $('#mainBody').offset().left + 7);

            $('#ContactNameXaxis').val($('#text1').offset().left - $('#mainBody').offset().left + 7);
            $('#ContactNameYaxis').val($('#text1').offset().top - $('#mainBody').offset().top);

            $('#ContactNoXaxis').val($('#contactNo').offset().left - $('#mainBody').offset().left + 7);
            $('#ContactNoYaxis').val($('#contactNo').offset().top - $('#mainBody').offset().top);


            $('#AltTextXaxis').val($('#cardAddText').offset().left - $('#mainBody').offset().left + 7);
            $('#AltTextYaxis').val($('#cardAddText').offset().top - $('#mainBody').offset().top);

            $('#Nosxaxis').val($('#cardNoScan').offset().left - $('#mainBody').offset().left + 7);
            $('#Nosyaxis').val($('#cardNoScan').offset().top - $('#mainBody').offset().top);

            $('#NameRightAxis').val(Math.floor($('#ContactNameXaxis').val()) + document.getElementById('text1').clientWidth);
            $('#ContactRightAxis').val(Math.floor($('#ContactNoXaxis').val()) + document.getElementById('contactNo').clientWidth);
            $('#NosRightAxis').val(Math.floor($('#Nosxaxis').val()) + document.getElementById('cardNoScan').clientWidth);
            $('#AddTextRightAxis').val(Math.floor($('#AltTextXaxis').val()) + document.getElementById('cardAddText').clientWidth);
        }

        function BarcodeSizeChange() {
            $('#BarcodeWidth').val($('#barcodeRange').val());
            $('#BarcodeHeight').val($('#barcodeRange').val());
            GenerateQR();
        }

        function setCardPosition() {
            if ($("#text1") != undefined) {

                $("#text1").css("top", $('#ContactNameYaxis').val() + 'px');
                $("#text1").css("left", $('#ContactNameXaxis').val() + 'px');

                $("#mydiv").css("top", $('#BarcodeYaxis').val() + 'px');
                $("#mydiv").css("left", $('#BarcodeXaxis').val() + 'px');

                $("#contactNo").css("top", $('#ContactNoYaxis').val() + 'px');
                $("#contactNo").css("left", $('#ContactNoXaxis').val() + 'px');

                $("#cardAddText").css("top", $('#AltTextYaxis').val() + 'px');
                $("#cardAddText").css("left", $('#AltTextXaxis').val() + 'px');

                $("#cardNoScan").css("top", $('#Nosyaxis').val() + 'px');
                $("#cardNoScan").css("left", $('#Nosxaxis').val() + 'px');

                $("#text1").css({ "font-family": $('#FontName').val() });
                $("#text1").css({ "color": $('#FontColor').val() });
                $("#text1").css({ "font-size": $('#FontSize').val() + 'px' });

                $("#contactNo").css({ "font-family": $('#ContactNoFontName').val() });
                $("#contactNo").css({ "color": $('#ContactNoFontColor').val() });
                $("#contactNo").css({ "font-size": $('#ContactNoFontSize').val() + 'px' });

                $("#cardAddText").css({ "font-family": $('#AltTextFontSize').val() });
                $("#cardAddText").css({ "color": $('#AltTextFontColor').val() });
                $("#cardAddText").css({ "font-size": $('#AltTextFontSize').val() + 'px' });

                $("#cardNoScan").css({ "font-family": $('#NosfontName').val() });
                $("#cardNoScan").css({ "color": $('#NosfontColor').val() });
                $("#cardNoScan").css({ "font-size": $('#NosfontSize').val() + 'px' });

                if ($('#FontAlignment').val('right')) {
                    ToggleLang();
                }
            }

        }

        function SetImageBackground(width, height) {
            console.log(width); console.log(height);
            if (width <= 900) {
                $('#mainBody').css({ 'width': width });
                $('#mainBody').css({ 'height': height });
            } else {
                var diff = width - 900;
                var per = 100 - (diff / width) * 100;
                console.log(per); console.log(width * per / 100); console.log(height * per / 100);
                $('#mainBody').css({ 'width': width * per / 100 });
                $('#mainBody').css({ 'height': height * per / 100 });
            }

        }


        function SetGuestIdForDelete(id) {
            $('#selectedGuest').text(id);
            $('#deleteGuest').attr('href', '../DeleteGuest/' + id);
        }

        function DeleteGuest() {
            $('#deleteGuest').trigger('click');
        }
        function ToggleTransBackground() {
            switch (document.getElementById('customSwitch1').checked) {
                case true:
                    $('#ForegroundColor').prop('disabled', true);
                    $('#ForegroundColor').val('#FFFFFF')
                    break;
                default:
                    $('#ForegroundColor').prop('disabled', false);
                    $('#ForegroundColor').val('#FFFFFF')
                    break;
            }
        }
        function EditGuest(id, name, nos, pcn, at) {
            console.log(name);
            $('#GuestId').val(id);
            $('#FirstName').val(name);
            $('#NoOfMembers').val(nos);
            $('#PrimaryContactNo').val(pcn);
            $('#AdditionalText').val(at);
            $('#modal-guest').modal('show');
            $('#modalTitle').text('Edit Guest');
        }

    </script>
    <style>
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #444;
            line-height: 18px;
        }
    </style>
</body>
</html>
