@using EventPro.DAL.Models;
@model City
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@{
    ViewBag.Title = "Create";
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="padding-left:10px">
        <h4>City</h4>
        <hr />
        @Html.ValidationSummary(true,string.Empty, new { @class = "custom-validation-summary" })

        <div class="form-group">
            @Html.LabelFor(model => model.CountryId,"Country", new { @class = "control-label col-md-2" })

            <div class="input-group mb-3" style="width:14%">
                <div class="input-group">
                    @Html.DropDownListFor(Model => Model.CountryId, ViewBag.countries as SelectList, "--Select Country--", new { @class = "form-control select2", @required = "required"})
                </div>
           
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityName,"City Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CityName, new { @required = "required", @name = "CityName", @type = "text", @placeholder = "City Name" })
                @* @Html.EditorFor(model => model.CityName) *@
                @* @Html.ValidationMessageFor(model => model.CityName) *@
                @Html.ValidationMessageFor(model => model.CityName, "Please enter a City Name",new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div style="padding:10px;">
    @Html.ActionLink("Back to List", "Index")
</div>
@section Styles
    {
    <style>
        .custom-validation-summary ul {
            list-style-type: none;
            color: red;
            padding: 0;
            padding-left: 5px;
        }

        .field-validation-valid {
            display: none;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
}