@model EventPro.DAL.Models.VwEvents

@{
    ViewData["Title"] = "EventCatgory";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="@ViewBag.Icon" alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@Model.SystemEventTitle</h3>

                        <p class="text-muted text-center">@Model.Category</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Event Code</b> <a class="float-right">@{var eventCode = "E0000" + Model.Id;}@eventCode</a>
                            </li>
                            <li class="list-group-item">
                                <b>Scheduled</b> <a class="float-right">@Convert.ToDateTime(Model.EventFrom).ToString("dd/MMM/yyyy")</a>
                            </li>
                            <li class="list-group-item">
                                <b>Venue</b> <a class="float-right">@Model.EventVenue</a>
                            </li>
                            <li class="list-group-item">
                                <b>Direction</b> <a class="float-right" style="color:blue;cursor:pointer; font-size:small; font-style:italic" id="GmapCode" onclick="showMap()"><u>Click here</u></a>
                            </li>
                        </ul>

                        @*<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>*@
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About Event</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Description</strong>

                        <p class="text-muted">
                            @Html.Raw(Model.EventDescription)
                        </p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                        <p class="text-muted">@Model.EventVenue</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Created by</strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">@Model.FirstName</span>
                            <span class="tag tag-success">@Model.LastName</span>
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Status</strong>

                        <p class="text-muted">@Model.Status</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#available" data-toggle="tab">Available</a></li>
                            <li class="nav-item"><a class="nav-link" href="#assigned" data-toggle="tab">Assigned</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="available">
                                <div class="card">
                                    <table id="EventsTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Full Name</th>
                                                <th>Full Name</th>
                                                <th>User Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="assigned">
                                <div class="card">
                                    <table id="assignedGakeKeeper" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Full Name</th>
                                                <th>Full Name</th>
                                                <th>Username</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                       
                                    </table>
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
</section>

 @section Scripts {
    <script>
        function showMap() {
            window.open("https://maps.app.goo.gl/@ViewBag.EventLocation", '_blank');
        }
    </script>
    <script src="~/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/assets/plugins/datatables/js/jquery.datatables.js"></script>
    <script src="~/assets/plugins/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/js/datatables.bootstrap4.js"></script>
  <script>
        $(document).ready(function () {
            $('#EventsTable').DataTable({
                "fixedHeader": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                dom: 'lfrBtip',
                buttons: [
                    'copy', 'csv', 'excel', 'print'
                ],
                "serverSide": true,
                "processing": true,
                "filter": true,
                "ajax": {
                    "url": "/admin/GetAvaliableOperators?eventId= " + @ViewBag.EventId,
                    "type": "POST",
                    "dataType": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "name", "name": "Name", "autowidth": true, "orderable": false },
                    { "data": "name", "name": "Name", "autowidth": true, "orderable": false },
                    { "data": "userName", "name": "UserName", "autowidth": true, "orderable": false },
                    {
                "render": function (data, type, row) {
                            return ` <td><a onclick="AssignOperator(${@ViewBag.EventId},${row.id})" style="cursor: pointer;"  class="btn btn-success"> Assign</a></td>`
                },
                "orderable": false,
                "data": null
            }
                    ]
                   

            });
            $('#RefreshPage').click(function () {
                window.location.reload();
            });
            $('#SearchBtn').click(function () {
                dataTable.draw();
            });
        })


        $(document).ready(function () {
            $('#assignedGakeKeeper').DataTable({
                "fixedHeader": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                dom: 'lrBtp',
                buttons: [
                    'copy', 'csv', 'excel', 'print'
                ],
                "serverSide": true,
                "processing": true,
                "filter": true,
                "ajax": {
                    "url": "/admin/GetAssignedOperators?eventId= " + @ViewBag.EventId,
                    "type": "POST",
                    "dataType": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "name", "name": "Name", "autowidth": true, "orderable": false },
                    { "data": "name", "name": "Name", "autowidth": true, "orderable": false },
                    { "data": "userName", "name": "UserName", "autowidth": true, "orderable": false },
                    {
                        "render": function (data, type, row) {
                            return `  <td><a onclick="UnAssignOpertor(${@ViewBag.EventId},${row.id})"" style="cursor: pointer;" class="btn btn-outline-danger"> Release</a></td>`
                        },
                        "orderable": false,
                        "data": null
                    }
                ]


            });
            $('#RefreshPage').click(function () {
                window.location.reload();
            });
            $('#SearchBtn').click(function () {
                dataTable.draw();
            });
        })

        async function AssignOperator(eventId, userId) {
            var data = await fetch(`/admin/AssignOperator?userid=${userId}&eventId=${eventId}`)
            var result = await data.json();

            if (result.success) {
                Swal.fire(` Operator assigned successfully!`);
            } else {
                Swal.fire(`something went wrong!`);
            }

            $('#EventsTable').DataTable().ajax.reload(null, false);
            $('#assignedGakeKeeper').DataTable().ajax.reload(null, false);
        }

        async function UnAssignOpertor(eventId, userId) {
            var data = await fetch(`/admin/UnassignOperator?userid=${userId}&eventId=${eventId}`)
            var result = await data.json();

            if (result.success) {
                Swal.fire(` Operator Unassigned successfully!`);
            } else {
                Swal.fire(`something went wrong!`);
            }

            $('#EventsTable').DataTable().ajax.reload(null, false);
            $('#assignedGakeKeeper').DataTable().ajax.reload(null, false);

        }

  </script>

    }


