@model EventPro.DAL.Models.EventCategory
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using EventPro.Web.Common
@{
    ViewData["Title"] = "EventCatgory";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~")/lte/assets/plugins/summernote/summernote-bs4.css" />
<section class="content">
    <div class="container-fluid">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> @TempData["message"].
            </div>
        }
    </div>

    <div class="container-fluid">
        <div class="card card-default color-palette-box">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tag"></i>
                    In-Progress and Upcoming Events
                </h3>
@*                 <div class="col-md-6" style="float: inline-start; left: 20px;">
                    <span class="accent-indigo">@AppSession.GetSession(this.Context, SesionConstant.TempData)</span>
                </div> *@

                @if (!User.IsInRole("Agent") && !User.IsInRole("Accounting"))
                {
                    <div class="col-md-2" style="float: right;">
                        <a href="~/admin/_events"
                           class="btn btn-primary btn-sm"
                           style="width:100%; margin-bottom:0px;">
                            Create Events
                        </a>
                        @* <a href="~/admin/_events" class="btn btn-primary btn-sm"  style="width:100%; margin-bottom:0px;">Create Events</a> *@
                    </div>
                }
               
            </div>
         
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="container-fluid">

                        <!-- /.card-header -->
                        <div class="card-body p-0" style="margin-top:10px" >
                            <table id="EventsTable" class="table table-bordered table-hover" >
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Id</th>
                                        <th>Linked To</th>
                                        <th>Title</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Venue</th>
                                        <th>Created On</th>
                                        <th>Created By</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    //pass Role user to JS
    window.isAgent = @User.IsInRole("Agent").ToString().ToLower();
    window.isSupervisor = @User.IsInRole("Supervisor").ToString().ToLower();
    window.isAccounting = @User.IsInRole("Accounting").ToString().ToLower();
</script>


@if (User.IsInRole("Administrator") && !User.IsInRole("Operator"))
{
    @section Scripts {
    <script src="~/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/assets/plugins/datatables/js/jquery.datatables.js"></script>
    <script src="~/assets/plugins/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/js/datatables.bootstrap4.js"></script>
        <script src="~/assets/js/admineventsdatatable.js"></script>
    }
}
else
{
    @section Scripts {
    <script src="~/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/assets/plugins/datatables/js/jquery.datatables.js"></script>
    <script src="~/assets/plugins/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/js/datatables.bootstrap4.js"></script>
    <script src="~/assets/js/eventsdatatable.js"></script>
  

    }
}

   