@model EventPro.DAL.Models.Guest
@{
    ViewData["Title"] = "EventCatgory";
    Layout = "~/Views/Shared/_Admin.cshtml";
    var language = "arabic";

}
<style>
    @@keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    .rotate-icon.rotating {
        animation: rotate 0.6s linear;
    }
</style>
<style>
    .phone-number-invalid {
        background-color: lightcoral !important;
    }

    .phone-number-valid {
        background-color: lightgreen !important;
    }
</style>

<style>

    .loader {
        z-index: 2;
        position: fixed;
        top: 0;
        right: 0;
        color:black;
    }



    .sendingMessage span{
            z-index: 2;
            position: fixed;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);
            width: 20%;
            height: 20%;
            color: black;
            margin: 5px;
            background-color:white;
            width:150px;
            height:40px;
            text-align:center;
            box-shadow: 1px -1px 19px -4px rgba(0,0,0,0.75);
    }


        .loader label {
            z-index: 2;
            position: fixed;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);
            width: 20%;
            height: 20%;
            color: darkblue;
            font-size:30px;
            margin: 5px;
        }

        .loader div {
            z-index: 2;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20%;
            height: 20%;
            color: darkblue;
            font-size: 30px;
            margin: 5px;
            background-color: rgba(7, 20, 40, 0.8);
            border-radius:7px;
        }

    .dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 700px;
        background-color: rgba(0, 0, 0, 0.4);
        height:100%;
        z-index:1;
    }
</style>


<link href="~/assets/css/loader.css" rel="stylesheet" />
<link rel="stylesheet" href="@Url.Content("~")/lte/assets/plugins/summernote/summernote-bs4.css" />

<div class="loader" hidden id="loader" syle="background-color: lightgreen">
   @*  <img hidden id="loader" src="~/assets/fade-stagger-circles.svg" alt="loading"> *@
    <div style="width:500px;text-align: center;">
        <span align="center" id="loaderText" style="color:white;width:100% ;font-size:25px"></span>
        <div class="progress text-center" style="width:250px;margin-right:50px ;font-size:25px">
            <!-- set to certain width -->
            <progress id="progressbar"  style="width: 100%; color:blue" > 32% </progress>
           
        </div>
    </div>
</div>

<div class="sendingMessage" hidden  id="sendingMessage" syle="background-color: lightgreen">
    <span>جاري الإرسال...</span>
</div>
<div class="sendingMessage" hidden id="processingMessage" syle="background-color: lightgreen">
    <span>جاري معالجة البيانات...</span>
</div>

<section class="content">
    <script>
        console.log("thanks messaage")
        console.log(@ViewBag.thanksCard)</script>
    <div hidden  id="dark-overlay" class="dark-overlay"> </div>
    <div class="container-fluid">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> @TempData["message"].
            </div>
        }
        @if (TempData["WaError"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> @TempData["WaError"].
            </div>
        }

            <div id="alertMessage" hidden class="alert alert-danger" role="alert">
                @ViewBag.thanksCard
            </div>

    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-warning">
                    <div class="card">
                        <div class="container-fluid">
                            <div class="card-header">                              
                                <div style="padding-bottom: 10px; float:left">
                                    @if (ViewBag.GmapCode == null)
                                    {
                                        <span style="color:red">Google Map Location not set, please update first before sending message, else whatsapp message will not sent</span>
                                    }
                                    else
                                    {
                                        <span style="color:forestgreen">Google Map Location found for this event, whatsapp mesage will send</span>
                                    }
                                    <br /><span style="color: red">Current Message limit for whatsapp in 1 batch is @ViewBag.sendingLimit</span>

                                </div>
                                <div style="padding-bottom: 10px; float:right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" dir="ltr" aria-haspopup="true" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu" style="font-size: small">
                                            <a href="#" onclick="SetEventId(@ViewBag.EventId)" class="dropdown-item"><i class="nav-icon fas fa-edit" style="color:cornflowerblue"></i>&nbsp; Add Guest</a>
                                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#modal-uploadguest"><i class="nav-icon fas fa-upload" style="color:cornflowerblue"></i>&nbsp; Upload Guest</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="~/Upload/Samplefile.xlsx" target="_blank" class="dropdown-item"><i class="nav-icon fas fa-download" style="color:cornflowerblue"></i>&nbsp; Download Template</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" onclick="RefreshALl(@ViewBag.EventId,1);return false;" class="dropdown-item"><i class="fas fa-sync-alt" style="color:cornflowerblue"></i>&nbsp; Refresh New</a>
@*                                             <a href="#" onclick="RefreshALl(@ViewBag.EventId,0);return false;" class="dropdown-item"><i class="fas fa-sync-alt" style="color:cornflowerblue"></i>&nbsp; Refresh All</a> *@

                                            <a href="~/admin/DownloadAll/@ViewBag.EventId" target="_blank" class="dropdown-item"><i class="nav-icon fas fa-download" style="color:cornflowerblue"></i>&nbsp; Download All</a>
                                            @if (ViewBag.IsAdmin == 1)
                                            {
                                                <a href="#" onclick="RefreshAllGuestsStatus(@ViewBag.EventId)" class="dropdown-item"><i class="fas fa-sync-alt" title="تحديث حالة الرسائل الأخيرة" style="color: darkgreen;"></i>&nbsp; Get Last Messages Status</a>
                                                @*                                             <a href="~/admin/ValidateAllGuestPhoneNumbers/@ViewBag.EventId" class="dropdown-item">
                                                <i class="fas fa-check-circle" style="color:blue"></i>&nbsp;Validate All Numbers Format
                                            </a> *@
                                            }

                                            <div class="dropdown-divider"></div>
                                            <a style="cursor: pointer;" class="dropdown-item" onclick="SendConfirmationToAll(@ViewBag.EventId)"><i class="far fa-question-circle" style="color:orangered"></i>&nbsp; Send confirmation Whatsapp</a>
                                            <a style="cursor: pointer;" onclick="SendPushToAll(@ViewBag.EventId)" class="dropdown-item"><i class="far fa-comments" style="color:green"></i>&nbsp; Send Push whatsapp</a>
                                            <a style="cursor: pointer;" onclick="SendEventLocationToAll(@ViewBag.EventId)" class="dropdown-item"><i class="fa fa-map-marker" style="color:red"></i>&nbsp; Send Event Location</a>
                                            <a style="cursor: pointer;" onclick="SendCongratulationMessageToAll(@ViewBag.EventId)" class="dropdown-item"><i class="fa fa-map-marker" style="color:red"></i>&nbsp; Send Thanks Cards</a>
@*                                             <div style="padding-left:15px;" class="dropdown ">
                                                <i class="far fa-comments" style="color:green"></i>&nbsp;Failed Message
                                                <div style="right:50px;" class="dropdown-content">
                                                    <a onclick="SendFailedMsgsToAll(@ViewBag.EventId)" class="dropdown-item " style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send Failed Messages To All</a>
                                                    <a onclick="SendFailedImgsToAll(@ViewBag.EventId)" class=" dropdown-item " style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send Failed Images To All</a>
                                                   
                                                </div>
                                            </div> *@
                                            <div class="btn-group">
                                                <button id="buttonList" class="dropdown-item dropdown-toggle" href="#" role="button" data-toggle="dropdown" dir="ltr" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-map-marker" style="color:red ;"></i>&nbsp; Send Reminder Messages
                                                </button>

                                                <div id="dropList" hidden class="dropdown-menu" style="font-size: small; margin-left:-115px">
                                                    <a style="cursor: pointer;" class="dropdown-item" onclick="SendReminderMessagesToAll(@ViewBag.EventId) ">Send Reminder Message To All</a>
                                                    <a style="cursor: pointer;" class="dropdown-item" onclick="SendReminderMessagesToOnlyAccepted(@ViewBag.EventId)"> Send Reminder Message To Only Accepted</a>
                                                    <a style="cursor: pointer;" class="dropdown-item" onclick="SendReminderMessagesToOnlyNoAnswer(@ViewBag.EventId)">Send Reminder Message To Only No Answer</a>
                                                    <a style="cursor: pointer;" class="dropdown-item" onclick="SendReminderMessagesToOnlyReceived(@ViewBag.EventId)">Send Reminder Message To Only Received</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="~/admin/viewevent/@ViewBag.EventId" class="btn btn-warning btn-sm">Back to Events</a>
                                </div>
                                @if(ViewBag.IsAdmin == 1)
                                {
                                    <div style="padding-bottom: 10px; margin-right:10px; float:right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" dir="ltr" aria-haspopup="true" aria-expanded="false">
                                                Admin Action
                                            </button>
                                            <div class="dropdown-menu" style="font-size: small">
                                                <a href="#" onclick="DeleteAllGuests(@ViewBag.EventId)" class="dropdown-item"><i class="nav-icon fas fa-edit" style="color:red"></i>&nbsp; Delete All Guests</a>
                                                <a href="#" onclick="DeleteAllGuestsCards(@ViewBag.EventId)" class="dropdown-item"><i class="nav-icon fas fa-edit" style="color:red"></i>&nbsp; Delete All Guests Cards</a>
                                                <a href="#" onclick="ResetAllGuestsStatus(@ViewBag.EventId)" class="dropdown-item"><i class="nav-icon fas fa-edit" style="color:red"></i>&nbsp; Reset All Guests status</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="#" onclick="AllowSendConfirmationMessageAgain(@ViewBag.EventId)" class="dropdown-item"><i class="nav-icon fas fa-edit" style="color:blue"></i>&nbsp; Allow send confirmation message again</a>
                                                <a href="#" onclick="AllowSendCardMessageAgain(@ViewBag.EventId)" class="dropdown-item"><i class="nav-icon fas fa-edit" style="color:blue"></i>&nbsp; Allow send card message again</a>
                                                <a href="#" onclick="AllowSendEventLocationMessageAgain(@ViewBag.EventId)" class="dropdown-item"><i class="nav-icon fas fa-edit" style="color:blue"></i>&nbsp; Allow send event location message again</a>
                                                <a href="#" onclick="AllowSendReminderMessageAgain(@ViewBag.EventId)" class="dropdown-item"><i class="nav-icon fas fa-edit" style="color:blue"></i>&nbsp; Allow send reminder message again</a>
                                                <a href="#" onclick="AllowSendCongratulationMessageAgain(@ViewBag.EventId)" class="dropdown-item"><i class="nav-icon fas fa-edit" style="color:blue"></i>&nbsp; Allow send congratulation message again</a>

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                      
                            <div id="Spinn" name="Spinn" style="display:none" class="spinner"></div>
                            <!-- /.card-header -->
                          <div class="card-body p-0" id="arabicTable">
                                <table id="GuestsTable" class="table table-bordered table-hover text-center" style="padding:5px; width:100%;">
                                        <thead>
                                            <tr>
                                            <th>رسالة نصية البطاقة</th>
                                                <th>رسالة صورة البطاقة</th>
                                                <th>نص التذكير</th>
                                                <th>نص التهنئة</th>
                                                <th>نص الموقع</th>
                                                <th>نص الصورة</th>
                                                <th>نص رابط الموقع</th>
                                                <th>حالة رسالة البطاقة</th>
                                                <th>حالة الصورة</th>
                                                <th>حالة رابط الموقع</th>
                                                <th>حالة التهنئة بالحضور</th>
                                                <th>حالة رسالة التذكير</th>
                                                <th>تم الحضور</th>
                                                <th>وقت أول حضور</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                 </table>

                             </div>
                            
                               <div class="card-body p-0" hidden id="englishTable">                 
                                <table id="searchableTable_double" class="table table-bordered table-hover text-center" style="padding:5px;">
                                            <thead>
                                                <tr>
                                            <th><i class="fas fa-sync-alt"></i></th>
                                                    <th>#</th>
                                                    <th>Event</th>
                                                    <th>Name</th>
                                                    <th>Mobile No</th>
                                                    <th>Scanned</th>
                                                    <th>Inv-Status</th>
                                                    <th>QR-Status</th>
                                                    <th>Event-location Status</th>
                                                    <th>Reminder-Message Status</th>
                                                    <th>congatulation-message Status</th>
                                                    <th>Response</th>
                                                    <th>Response Time</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                       
                                 </table>
                            </div> 
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>
    </div>
 
</section>
<!-- Modal -->
<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation - <label id="selectedGuest"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete this guest, once deleted you will not able to recover this.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <a href="#" id="deleteGuest" class="btn btn-warning btn-sm">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-guest">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><lablel id="modalTitle">Add Guest</lablel></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="updateGuestForm"  method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    @Html.HiddenFor(Model => Model.EventId)
                    @Html.ValidationSummary(true)
                    <div class="card-body">
                        <div class="form-group">
                            <label for="Name">Full Name</label>
                            @Html.HiddenFor(Model => Model.GuestId)
                            @Html.TextBoxFor(model => model.FirstName, new { @required = "required", @class = "form-control FormfirstName",  @name = "Name", @type = "text", @placeholder = "Full Name" })
                        </div>
                        <div class="form-group">
                            <label for="Name">No. of Member</label>
                            @Html.TextBoxFor(model => model.NoOfMembers, new {  @required = "required", @class = "form-control FormNoOfMembers", @name = "NOM", @type = "number", @placeholder = "No. of Member" })
                        </div>
                        <div class="form-group">
                            <label for="Name">Country Code</label>
                            @Html.TextBoxFor(model => model.SecondaryContactNo, new {  @required = "required", @class = "form-control FormSecondaryContactNo", @name = "Country Code", @type = "text", @placeholder = "Country Code" })
                        </div>
                        <div class="form-group">
                            <label for="Name">Contact No</label>
                            @Html.TextBoxFor(model => model.PrimaryContactNo, new {  @required = "required", @class = "form-control FormPrimaryContactNo", @name = "Contact No", @type = "text", @placeholder = "Contact No" })
                        </div>
                        <div class="form-group">
                            <label for="Name">Additional Text</label>
                            @Html.TextBoxFor(model => model.AdditionalText, new { @required = "required", @class = "form-control FormAdditionalText", @name = "Additional Text", @type = "text", @placeholder = "Additional Text" })
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button id="closeUpdateButton" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                        <a onclick="UpdateGuest()" style="color:white" class="btn btn-primary btn-sm" data-dismiss="modal">Save changes</a>
                    </div>
                </div>
               </form>
            
            <!-- /.modal-content -->
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>

<div class="modal fade" id="modal-uploadguest">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload Guest</h4>
                <button id="closeUploadButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

                <div class="modal-body">

                    <div class="card-body">
                        <input type="hidden" name="UploadEventId" value="@ViewBag.EventId" />
                        <div class="form-group" sytle="border:10px" >
                            <label>Upload Excel Sheet</label>
                            <input class="form-control" type="file" id="myfile" name="myfile" placeholder="Upload Excel Sheet">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                        <button onclick="uploadGuests()" class="btn btn-primary btn-sm" id="submitUpload">Upload</button>
                    </div>
                </div>
            
            <!-- /.modal-content -->
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/assets/plugins/datatables/js/jquery.datatables.js"></script>
    <script src="~/assets/plugins/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/js/datatables.bootstrap4.js"></script>

    <script>
        function UpdateGuest()
        {
            const closeUpdateButton = document.getElementById('closeUpdateButton');
            var FormfirstName = document.getElementById('FirstName').value;
            var FormNoOfMembers = document.getElementById('NoOfMembers').value;
            var FormSecondaryContactNo = document.getElementById('PrimaryContactNo').value;
            var FormPrimaryContactNo = document.getElementById('SecondaryContactNo').value;
            var FormAdditionalText = document.getElementById('AdditionalText').value;
            console.log(FormfirstName);
            if (FormfirstName == " " || FormfirstName == null || FormfirstName == "" ||
                FormNoOfMembers == " " || FormNoOfMembers == null || FormNoOfMembers == ""||
                FormSecondaryContactNo == " " || FormSecondaryContactNo == null || FormSecondaryContactNo == ""||
                FormPrimaryContactNo == " " || FormPrimaryContactNo == null || FormPrimaryContactNo == "") {
                Swal.fire(`الرجاء ملء جميع البيانات!`);
            } else {

                var posting = $.post("/admin/guest", $("#updateGuestForm").serialize());
                console.log("end");
                posting.done(function (data) {
                    closeUpdateButton.click();
                    console.log(data);
                    if (data.success) {
                        if (data.addedOrModified == 0) {
                            Swal.fire(`تم التحديث بنجاح`);
                            $('#GuestsTable').DataTable().ajax.reload();
                        } else {
                            Swal.fire(`تم الإضافة بنجاح`);
                            $('#GuestsTable').DataTable().ajax.reload(null, false);
                        }

                    } else {
                        Swal.fire(` !??? ??? ?? `);
                    }

                });

            }
            
        }

        function uploadGuests() {
            console.log(@ViewBag.EventId);
            const closeUploadButton = document.getElementById('closeUploadButton');
            const submitUpload = document.getElementById('submitUpload');
            var fileSelect = document.getElementById('myfile');
            const loader3 = document.getElementById('loader');
            const loaderText3 = document.getElementById('loaderText');
            const darkoverlay3 = document.getElementById('dark-overlay');
            const progressbar2 = document.getElementById('progressbar');
            var files = fileSelect.files;
            var formData = new FormData();
            var file = files[0];
            formData.append("file", file);
            closeUploadButton.click();
            loaderText2.textContent = "جاري تحميل الملف...";
            darkoverlay2.hidden = false;
            loader2.hidden = false;
            $.ajax({
                url: '@Url.Action("Upload", "admin")?eventId=' + @ViewBag.EventId,
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    darkoverlay2.hidden = true;
                    loader2.hidden = true;
                    console.log(data);
                    guestsUploaded(data);
                    if (data.success) {
                        Swal.fire(`تم تحميل ${data.totalGuests} ضيف بإجمالي ${data.totalMembers} عضو`);
                    } else {
                        Swal.fire(`حدث خطأ ما!`);
                    }
                    $('#GuestsTable').DataTable().ajax.reload();
                },
                error: function (data) {
                    darkoverlay2.hidden = true;
                    loader2.hidden = true;
                    console.log(data);
                    guestsUploaded(data);
                    if (data.success) {
                        Swal.fire(`تم تحميل الضيوف بنجاح`);
                    } else {
                        Swal.fire(` !??? ??? ?? `);
                    }
                    $('#GuestsTable').DataTable().ajax.reload();
                }              
            });
        }


        function guestsUploaded(data) {
            console.log(data);


        }
        function guestsUploaded(data) {

        }
    </script>


    <script>
        function last(doc) {
            pdfMake.fonts = {
                Roboto: {
                    normal: 'Roboto-Regular.ttf',
                    bold: 'Roboto-Medium.ttf',
                    italics: 'Roboto-Italic.ttf',
                    bolditalics: 'Roboto-MediumItalic.ttf'
                },
                arial: {
                    normal: 'arial-Regular.ttf',
                    bold: 'arial-Regular.ttf',
                    italics: 'arial-Regular.ttf',
                    bolditalics: 'arial-Regular.ttf'
                },
            };
            doc.defaultStyle.font = 'arial';
        }

        console.log(@ViewBag.IsAdmin);
        $(document).ready(function () {
            console.log(@ViewBag.EventId);
            $('#GuestsTable').DataTable({
                "bStateSave": true,
                "fixedHeader": false,
                "lengthChange": true,
                "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                dom: 'lfrBtip',
                buttons: [
                     {
                        extend: 'excel',
                        text:'Export Excel',
                        exportOptions: {
                            columns: [4, 5, 6, 7,8,9,10,11,12,13]
                        }
                    }, {
                        extend: 'print',
                        exportOptions: {
                            columns: [4, 5, 6, 7, 8, 9, 10, 11, 12, 13],

                        }
                    }

                ],
                "serverSide": true,
                "processing": true,
                "filter": true,
                "ajax": {
                    "url": "/admin/GetGuests?id=" + @ViewBag.EventId,
                    "type": "POST",
                    "dataType": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    {
                        "render": function (data, type, row) {
                            return `<a href="/admin/StatusRefreshIndividually/${row.id}?eventid=${@ViewBag.EventId}" class="rotate-icon">
                                                                        <i class="fas fa-sync-alt" title="تحديث الحالة" style="color: darkgreen;"></i>
                                                                    </a>`}, "autowidth": true, "orderable": false, "data": null
                    },
                    {
                        "render": function (data, type, row) {
                            return `<a onclick="GuestStatusRefresh(${row.id},${@ViewBag.EventId})" class="rotate-icon" style="cursor: pointer;">
                                                                                <i class="fas fa-sync-alt" title="تحديث الحالة" style="color: darkgreen;"></i>
                                                                            </a>`}, "autowidth": true, "orderable": false, "data": null
                    },
                    { "data": "id", "name": "Id", "autowidth": true, "orderable": false },
                    { "data": "eventId", "name": "EventId", "autowidth": true, "orderable": false },
                    { "data": "name", "name": "Name", "autowidth": true, "orderable": false },
                    {
                        "render": function (data, type, row) {
                            return `<a href="tel:${row.phoneNumber}" if(${row.isValidPhoneNumber}{
                            style="color:green;"} else{
                                    style="color:red;"})>${row.phoneNumber}</a>`
                        }, "autowidth": true, "data": null, "orderable": false
                    },
                    { "data": "scannedInfo", "name": "ScannedInfo", "autowidth": true, "orderable": false },
                    { "data": "confirmationMsgStatus", "name": "ConfirmationMsgStatus", "autowidth": true, "orderable": false },
                    { "data": "cardMsgStatus", "name": "CardMsgStatus", "autowidth": true, "orderable": false },
                    { "data": "eventLocationMsgStatus", "name": "EventLocationMsgStatus", "autowidth": true, orderable: false, "orderable": false },
                    { "data": "reminderMsgStatus", "name": "ReminderMsgStatus", "autowidth": true, "orderable": false, "orderable": false },
                    { "data": "congratulationMsgStatus", "name": "CongratulationMsgStatus", "autowidth": true, "orderable": false, "orderable": false },
                    { "data": "response", "name": "Response", "autowidth": true, "orderable": false, "orderable": false },
                    { "data": "responseTime", "name": "ResponseTime", "autowidth": true, "orderable": false, "orderable": false },
                    {
                        "render": function (data, type, row) {
                            return `    <div  class="btn-group">
                <button type="button" class="btn btn-warning btn-sm dropdown-toggle" dir="ltr" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" style="font-size: small;z-index:5; margin-left:-110px">

                                                                <a onclick="SendConfirmation(${row.id})" class=" dropdown-item" style="cursor: pointer;  " ><i class="far fa-question-circle" style="color:red ; "></i>&nbsp;Send Confirmation</a>
                                                        <a onclick="SendQR(${row.id})" class=" dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send QR</a>
                                                        <a onclick="SendEventLocation(${row.id})" class=" dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send Event Location</a>
                                                    <a onclick="SendReminderMsg(${row.id})" class=" dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send Reminder Message</a>
                                                    <a onclick="SendCongratulationMsg(${row.id})" class=" dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send Thanks Card</a>
                    <div style="padding-left:15px;" class="dropdown ">
                        <i class="far fa-comments" style="color:green"></i>&nbsp;Failed Message
                        <div class="dropdown-content">
                                                            <a onclick="SendFailedMsg(${row.id})" class=" dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send Failed Message</a>
                                                            <a onclick="SendFailedImg(${row.id},0)" class=" dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send Failed Image</a>
                                                            <a onclick="SendFailedImg(${row.id},1)" class=" dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send Failed Image And Set Accept</a>
                                                            <a onclick="SendFailedReminderMsg(${row.id})" class=" dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send Failed Reminder Msg</a>
                                                            <a onclick="SendFailedCongratularionMsg(${row.id})" class=" dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Send Failed Congratulation Msg</a>
                        </div>
                    </div>
                                                                                                           <a href="/Upload/preview/${@ViewBag.EventId}/E00000${@ViewBag.EventId}_${row.id}_${row.noOfMembers}.jpg" target="_blank" download="/E00000${@ViewBag.EventId}_${row.id}_${row.noOfMembers}.jpg" class=" dropdown-item"><i class="nav-icon fas fa-address-card" style="color:cornflowerblue"></i>&nbsp; Download Card</a>
                                                                                                                                           <a onclick="SetAccept(${row.id})" a href="/Upload/preview/${@ViewBag.EventId}/E00000${@ViewBag.EventId}_${row.id}_${row.noOfMembers}.jpg" target="_blank" download="/E00000${@ViewBag.EventId}_${row.id}_${row.noOfMembers}.jpg" style="cursor: pointer;"  class=" dropdown-item"><i class="nav-icon fas fa-address-card" style="color:cornflowerblue"></i>&nbsp; Download Card And Set Accept</a>
                                                                                       <a href="/Upload/guestcode/${row.id}.png" target="_blank" download="barcode.png" class=" dropdown-item"><i class="nav-icon fas fa-qrcode" style="color:cornflowerblue"></i>&nbsp; Download Barcode</a>

                                                                                                                                                                                                        <a href="#" onclick="EditGuest('${row.id}','${row.name}','${row.noOfMembers}','${row.primaryContact}','${row.additionalText}','${row.secondaryContact}')" class="dropdown-item"><i class="nav-icon fas fa-pen-nib" style="color:cornflowerblue"></i>&nbsp; Edit</a>
                                                                                        <a href="#" onclick="SetGuestIdForDelete(${row.id})" class="dropdown-item" data-toggle="modal" data-target="#deleteConfirmation" ><i class="nav-icon fas fa-recycle" style="color:cornflowerblue"></i>&nbsp; Delete</a>
                                                                                                              ${@ViewBag.IsAdmin == 1 ? `

                                                                                                                <a onclick="SetDecline(${row.id})" class="dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Set Decline Response</a>
                                                                                                                <a onclick="SetAccept(${row.id})" class="dropdown-item" style="cursor: pointer;  "><i class="far fa-comments" style="color:green"></i>&nbsp;Set Accept Response</a>
                                                                                                   ` :  '' }    
                                                                                                              

                    </div>
                </div>




                `
                        }, "autowidth": true, "data": null, "orderable": false
                    }
                ]

            });

            loader.hidden = true;

            $('#RefreshPage').click(function () {
                window.location.reload();
            });
            $('#SearchBtn').click(function () {
                dataTable.draw();
            });
        })
    </script>

    <script>
        const alertMessage = document.getElementById('alertMessage');
        const sendingMessage = document.getElementById('sendingMessage');
        const processingMessage = document.getElementById('processingMessage');
        const loader2 = document.getElementById('loader');
        const loaderText2 = document.getElementById('loaderText');
        const darkoverlay2 = document.getElementById('dark-overlay');

        function reloading() {
            console.log("working");
            $('#GuestsTable').DataTable().ajax.reload(null, false);
        }

        async function RefreshAllGuestsStatus(EventId) {
            loaderText2.textContent = "... ???? ????? ????? ??????? ";
            darkoverlay2.hidden = false;
            loader2.hidden = false;
            var remainingStatus = 0;
            var Timer = setInterval(async () => {
                remainingStatus = await GetRefreshAllGuestsStatusData(remainingStatus);
            }, 2000);
            try {
                var data = await fetch(`/admin/StatusRefreshForAllGuests/${EventId}`);
                var result = await data.json();
                if (!result.success) {
                    Swal.fire("! ??? ??? ?? ");
                }
                else {
                    Swal.fire("?? ????? ????? ???????");
                }
            }
            catch
            {
                Swal.fire("! ??? ??? ?? ");
            }
            loader2.hidden = true;
            darkoverlay2.hidden = true;
            clearInterval(Timer);
            reloading();
        }

        async function GetRefreshAllGuestsStatusData(remainingStatus) {

            var loading = await fetch(`/admin/GetRefreshGuestsStatusData?id=${@ViewBag.EventId}&&remaningStatus=${remainingStatus}`);
            var data = await loading.json();
            progressbar.value = data.remaningStatus;
            progressbar.max = data.allStatus;
            return data.allStatus;
        }

        async function SendFailedMsgsToAll(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ????? ??????? ??? ????? ?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    loaderText2.textContent = "... ???? ????? ????? ????? ?????? ";
                    darkoverlay2.hidden = false;
                    loader2.hidden = false;
                    var remainingMessages = 0;
                    var Timer = setInterval(async () => {
                        remainingMessages = await GetConfirmationSendingData(remainingMessages);
                    }, 2000);
                    try {
                        var data = await fetch(`/DefaultWhatsapp/sendMessagesToAll/${eventId}`);
                        var result = await data.json();
                        if (!result.success) {
                            Swal.fire("! ??? ??? ?? ");
                        }
                        else {
                            Swal.fire("??? ????? ???????");
                        }
                    }
                    catch
                    {
                        Swal.fire("! ??? ??? ?? ");
                    }
                    loader2.hidden = true;
                    darkoverlay2.hidden = true;
                    clearInterval(Timer);
                    reloading();
                }
            });
           
        }

        async function SendConfirmationToAll(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ????? ?????? ? ???????? ?",
                text: "??? ??? ????? ??????? ?????? ????? ?? ???? ??? ????? ????? ?????? ? ???????? ?? ??? ",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    loaderText2.textContent = "... ???? ????? ????? ????? ?????? ";
                    darkoverlay2.hidden = false;
                    loader2.hidden = false;
                    var remainingMessages = 0;
                    var Timer = setInterval(async () => {
                        remainingMessages = await GetConfirmationSendingData(remainingMessages);
                    }, 2000);
                    var data = await fetch(`/admin/SendToAll/${eventId}`);
                    var result = await data.json();
                    if (result.success) {
                        Swal.fire("??? ????? ???????");
                    } else {
                        Swal.fire(result.message);
                    }
                    clearInterval(Timer);
                    loader2.hidden = true;
                    darkoverlay2.hidden = true;
                    reloading();
                }
            });

        }

        async function GetConfirmationSendingData(remainingMessages) {

            var loading = await fetch(`/admin/GetConfirmationSendingData?id=${@ViewBag.EventId}&&remainingMessages=${remainingMessages}`);
            console.log(loading);
            var data = await loading.json();
            console.log(data);
            progressbar.value = data.sentMessages;
            progressbar.max = data.remainingMessages;
            return data.remainingMessages;
        }

        async function SendFailedImgsToAll(eventId) {
            loaderText2.textContent = "... ???? ????? ???????  ";
            darkoverlay2.hidden = false;
            loader2.hidden = false;
            var remainingMessages = 0;
            var Timer = setInterval(async () => {
                console.log("getdata");
                console.log(remainingMessages);
                remainingMessages = await GetPushSendingData(remainingMessages);
            }, 2000);
            console.log("working SendConfirmation");
            try {
                var data = await fetch(`/DefaultWhatsapp/sendImagesToAll/${eventId}`);
                var result = await data.json();
                if (!result.success) {
                    Swal.fire("! ??? ??? ?? ");
                }
                else {
                    Swal.fire("??? ????? ???????");
                }
                console.log(data);
            }
            catch
            {
                Swal.fire("! ??? ??? ?? ");
            }
            loader2.hidden = true;
            darkoverlay2.hidden = true;
            clearInterval(Timer);
            reloading();
        }

        async function SendPushToAll(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ?????? ?",
                text: "??? ??? ????? ??????? ?????? ????? ?? ????? ????? ?????? ?? ???",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    loaderText2.textContent = "... ???? ????? ???????  ";
                    darkoverlay2.hidden = false;
                    loader2.hidden = false;
                    var remainingMessages = 0;
                    var Timer = setInterval(async () => {
                        remainingMessages = await GetPushSendingData(remainingMessages);
                    }, 2000);
                    var data = await fetch(`/admin/SendCardToAll/${eventId}`);
                    var result = await data.json();
                    if (result.success) {
                        Swal.fire("??? ????? ???????");
                    } else {
                        Swal.fire(result.message);
                    }
                    clearInterval(Timer);
                    loader2.hidden = true;
                    darkoverlay2.hidden = true;
                    reloading();
                }
            });
        }

        async function GetPushSendingData(remainingMessages) {

            var loading = await fetch(`/admin/GetCardSendingData?id=${@ViewBag.EventId}&&remainingMessages=${remainingMessages}`);
            console.log(loading);
            var data = await loading.json();
            console.log(data);
            progressbar.value = data.sentMessages;
            progressbar.max = data.remainingMessages;
            return data.remainingMessages;
        }

        async function SendEventLocationToAll(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ???? ???????? ?",
                text: "??? ??? ????? ????? ???? ???????? ?????? ????? ?? ????? ????? ???? ???????? ?? ???",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    loaderText2.textContent = "... ???? ????? ????? ???? ???????? ";
                    darkoverlay2.hidden = false;
                    loader2.hidden = false;
                    var remainingMessages = 0;
                    var Timer = setInterval(async () => {
                        remainingMessages = await GetEventLocatioinSendingData(remainingMessages);
                    }, 2000);
                    var data = await fetch(`/admin/SendEventLocationToAll/${eventId}`);
                    var result = await data.json();
                    if (result.success) {
                        Swal.fire("??? ????? ???????");
                    } else {
                        Swal.fire(result.message);
                    }
                    clearInterval(Timer);
                    loader2.hidden = true;
                    darkoverlay2.hidden = true;
                    reloading();
                }
            });

        }

        async function GetEventLocatioinSendingData(remainingMessages) {

            var loading = await fetch(`/admin/GetEventLocationSendingData?id=${@ViewBag.EventId}&&remainingMessages=${remainingMessages}`);
            var data = await loading.json();
            progressbar.value = data.sentMessages;
            progressbar.max = data.remainingMessages;
            return data.remainingMessages;
        }

        async function SendReminderMessagesToAll(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ??????? ??? ?????? ?",
                text: "??? ??? ????? ????? ??????? ?????? ????? ?? ????? ????? ??????? ?? ??? ",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    loaderText2.textContent = "... ???? ????? ????? ??????? ???? ";
                    darkoverlay2.hidden = false;
                    loader2.hidden = false;
                    var remainingMessages = 0;
                    var Timer = setInterval(async () => {
                        remainingMessages = await GetReminderMessagesSendingToAllData(remainingMessages);
                    }, 2000);
                    var data = await fetch(`/admin/SendReminderMessageToAll/${eventId}`);
                    var result = await data.json();
                    if (result.success) {
                        Swal.fire("??? ????? ???????");
                    } else {
                        Swal.fire(result.message);
                    }
                    clearInterval(Timer);
                    loader2.hidden = true;
                    darkoverlay2.hidden = true;
                    reloading();
                }
            });

        }

        async function GetReminderMessagesSendingToAllData(remainingMessages) {

            var loading = await fetch(`/admin/GetReminderMessagesSendingDataToAll?id=${@ViewBag.EventId}&&remainingMessages=${remainingMessages}`);
            var data = await loading.json();
            progressbar.value = data.sentMessages;
            progressbar.max = data.remainingMessages;
            return data.remainingMessages;
        }

        async function SendReminderMessagesToOnlyAccepted(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ??????? ?????? ???????? ??? ?",
                text: "??? ??? ????? ????? ??????? ?????? ???????? ????? ?? ????? ????? ????? ?? ???",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    loaderText2.textContent = "... ???? ????? ????? ??????? ???????? ";
                    darkoverlay2.hidden = false;
                    loader2.hidden = false;
                    var remainingMessages = 0;
                    var Timer = setInterval(async () => {
                        remainingMessages = await GetReminderMessaagesSendingDataToOnlyAccepted(remainingMessages);
                    }, 2000);
                    var data = await fetch(`/admin/SendReminderMessageToOnlyAccepted/${eventId}`);
                    var result = await data.json();
                    if (result.success) {
                        Swal.fire("??? ????? ???????");
                    } else {
                        Swal.fire(result.message);
                    }
                    clearInterval(Timer);
                    loader2.hidden = true;
                    darkoverlay2.hidden = true;
                    reloading();
                }
            });

        }

        async function GetReminderMessaagesSendingDataToOnlyAccepted(remainingMessages) {

            var loading = await fetch(`/admin/GetReminderMessagesSendingDataToOnlyAccepted?id=${@ViewBag.EventId}&&remainingMessages=${remainingMessages}`);
            var data = await loading.json();
            progressbar.value = data.sentMessages;
            progressbar.max = data.remainingMessages;
            return data.remainingMessages;
        } SendReminderMessagesToOnlyNoReceived

        async function SendReminderMessagesToOnlyReceived(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ??????? ?????? ????? ?????? ????? ????? ?????? ?? ?????? ?",
                text: " ??? ??? ????? ????? ??????? ?????? ????? ? ????? ????? ????? ?????? ?? ?????? ? ?? ????? ????? ??????? ?? ???",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    loaderText2.textContent = "... ???? ??????? ?????? ?????? ??? ?? ??? ";
                    darkoverlay2.hidden = false;
                    loader2.hidden = false;
                    var remainingMessages = 0;
                    var Timer = setInterval(async () => {
                        remainingMessages = await GetReminderMessaagesSendingDataToNoAnswer(remainingMessages);
                    }, 2000);
                    var data = await fetch(`/admin/SendReminderMessageToOnlyReceived/${eventId}`);
                    var result = await data.json();
                    if (result.success) {
                        Swal.fire("??? ????? ???????");
                    } else {
                        Swal.fire(result.message);
                    }
                    clearInterval(Timer);
                    loader2.hidden = true;
                    darkoverlay2.hidden = true;
                    reloading();
                }
            });

        }

        async function SendReminderMessagesToOnlyNoAnswer(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ??????? ????? ?????? ?? ?",
                text: "??? ??? ????? ????? ??????? ????? ?????? ?? ? ?? ????? ????? ????? ?? ???",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    loaderText2.textContent = "... ???? ????? ????? ??????? ?? ?????? ?? ";
                    darkoverlay2.hidden = false;
                    loader2.hidden = false;
                    var remainingMessages = 0;
                    var Timer = setInterval(async () => {
                        remainingMessages = await GetReminderMessaagesSendingDataToNoAnswer(remainingMessages);
                    }, 2000);
                    var data = await fetch(`/admin/SendReminderMessageToOnlyNoAnswer/${eventId}`);
                    var result = await data.json();
                    if (result.success) {
                        Swal.fire("??? ????? ???????");
                    } else {
                        Swal.fire(result.message);
                    }
                    clearInterval(Timer);
                    loader2.hidden = true;
                    darkoverlay2.hidden = true;
                    reloading();
                }
            });

        }

        async function GetReminderMessaagesSendingDataToNoAnswer(remainingMessages) {

            var loading = await fetch(`/admin/GetReminderMessagesSendingDataToNoAnswer?id=${@ViewBag.EventId}&&remainingMessages=${remainingMessages}`);
            var data = await loading.json();
            progressbar.value = data.sentMessages;
            progressbar.max = data.remainingMessages;
            return data.remainingMessages;
        }

        async function SendCongratulationMessageToAll(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ??????? ?",
                text: "??? ??? ????? ????? ??????? ?????? ????? ????? ???????? ? ?? ????? ????? ????? ?? ???",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    loaderText2.textContent = "... ???? ????? ????? ??????? ";
                    darkoverlay2.hidden = false;
                    loader2.hidden = false;
                    var remainingMessages = 0;
                    var Timer = setInterval(async () => {
                        remainingMessages = await GetCongratulationMessaagesSendingData(remainingMessages);
                    }, 2000);
                    var data = await fetch(`/admin/SendCongratulationMessageToAll/${eventId}`);
                    var result = await data.json();
                    if (result.success) {
                        Swal.fire("??? ????? ???????");
                    } else {
                        Swal.fire(result.message);
                    }

                    clearInterval(Timer);
                    loader2.hidden = true;
                    darkoverlay2.hidden = true;
                    reloading();
                }
            });

        }

        async function GetCongratulationMessaagesSendingData(remainingMessages) {

            var loading = await fetch(`/admin/GetCongratulationSendingData?id=${@ViewBag.EventId}&&remainingMessages=${remainingMessages}`);
            var data = await loading.json();
            progressbar.value = data.sentMessages;
            progressbar.max = data.remainingMessages;
            return data.remainingMessages;
        }

        async function SendConfirmation(guestId) {
            loader.hidden = true;
            sendingMessage.hidden = false;
           var data = await fetch(`/admin/InviteOnWhatsapp/${guestId}`);
            var result = await data.json();
            if (!result.success) { 
                Swal.fire(result.message);
            }
            sendingMessage.hidden = true;
            reloading();
        }

        async function SendQR(guestId) {
            sendingMessage.hidden = false;
           var data = await fetch(`/admin/SendQRCode/${guestId}`);
            var result = await data.json();
            if (!result.success) { 
                Swal.fire(result.message);
        }
            sendingMessage.hidden = true;
            reloading();
        }

        async function SendEventLocation(guestId) {
            sendingMessage.hidden = false;
           var data = await fetch(`/admin/SendEventLocation/${guestId}`);
            var result = await data.json();
            if (!result.success) { 
                Swal.fire(result.message);
                                  }
            sendingMessage.hidden = true;
            reloading();
        }

        async function DeleteAllGuests(eventId) {
            console.log("working SendConfirmation");
            Swal.fire({
                title: "?? ???? ??? ???? ???? ???????? ?",
                text: "!?? ?????? ??????? ?????? ??? ?????",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    processingMessage.hidden = false;
                    await fetch(`/admin/DeleteAllGuests/${eventId}`);
                    processingMessage.hidden = true;
                    reloading();
                }
            });
        }

        async function DeleteAllGuestsCards(eventId) {
            Swal.fire({
                title: "?? ???? ??? ???? ?????? ???? ???????? ?",
                text: "!??? ??? ??? ???? ?????? ???????? , ?? ???? ????? ????? ?? ??? ????? ??????? ?? ???? ???????",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    processingMessage.hidden = false;
                    await fetch(`/admin/DeleteAllGuestsCards/${eventId}`);
                    processingMessage.hidden = true;
                    reloading();
                }
            });
        }

        async function ResetAllGuestsStatus(eventId) {
            Swal.fire({
                title: "?? ???? ??? ???? ?????? ?? ??????? ???????? ?",
                text: "!?? ?????? ??????? ?????? ??????? ??????? ??? ?????",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    console.log("working SendConfirmation");
                    processingMessage.hidden = false;
                    await fetch(`/admin/ResetAllGuestsStatus/${eventId}`);
                    processingMessage.hidden = true;
                    reloading();
                }
            });
        }


        async function AllowSendConfirmationMessageAgain(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ????? ????? ?????? ??? ????? ?",
                text: "!??? ????? ?? ??????? ????? ????? ?????? ?? ??????? ???????",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    console.log("working SendConfirmation");
                    processingMessage.hidden = false;
                    await fetch(`/admin/AllowSendConfirmationMessageAgain/${eventId}`);
                    processingMessage.hidden = true;
                    reloading();
                }
            });
        }

        async function AllowSendCardMessageAgain(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ????? ??????? ??? ????? ?",
                text: "!??? ????? ?? ??????? ????? ????? ????? ??????? ???????",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    console.log("working SendConfirmation");
                    processingMessage.hidden = false;
                    await fetch(`/admin/AllowSendCardMessageAgain/${eventId}`);
                    processingMessage.hidden = true;
                    reloading();
                }
            });
        }

        async function AllowSendEventLocationMessageAgain(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ????? ???? ???????? ??? ????? ?",
                text: "!??? ????? ?? ??????? ????? ????? ????? ???? ???????? ???????",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    console.log("working SendConfirmation");
                    processingMessage.hidden = false;
                    await fetch(`/admin/AllowSendEventLocationMessageAgain/${eventId}`);
                    processingMessage.hidden = true;
                    reloading();
                }
            });

        }

        async function AllowSendReminderMessageAgain(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ????? ??????? ??? ????? ?",
                text: "!??? ????? ?? ??????? ????? ????? ????? ??????? ???????",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    console.log("working SendConfirmation");
                    processingMessage.hidden = false;
                    await fetch(`/admin/AllowSendReminderMessageAgain/${eventId}`);
                    processingMessage.hidden = true;
                    reloading();
                }
            });

        }

        async function AllowSendCongratulationMessageAgain(eventId) {
            Swal.fire({
                title: "?? ???? ????? ????? ????? ??????? ??? ????? ?",
                text: "!??? ????? ?? ??????? ????? ????? ????? ??????? ???????",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "????? ?????",
                confirmButtonText: "???, ???? ???"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    console.log("working SendConfirmation");
                    processingMessage.hidden = false;
                    await fetch(`/admin/AllowSendCongratulationMessageAgain/${eventId}`);
                    processingMessage.hidden = true;
                    reloading();
                }
            });
        }
        async function SendReminderMsg(guestId) {
            sendingMessage.hidden = false;
           var data = await fetch(`/admin/SendReminderMessage/${guestId}`);
            var result = await data.json();
            if (!result.success) { 
                Swal.fire(result.message);
        }
            sendingMessage.hidden = true;
            reloading();
        }

        async function SendCongratulationMsg(guestId) {
            sendingMessage.hidden = false;
            var data = await fetch(`/admin/sendConguratilationMessage/${guestId}`);
            var result = await data.json();
            if (!result.success) {
                Swal.fire(result.message);
            }
            sendingMessage.hidden = true;
            reloading();
        }


        async function SendQRAndSetAccept(guestId) {
            console.log("working SendConfirmation");
            sendingMessage.hidden = false;
            await fetch(`/admin/SendQRCodeWithEditingResponse/${guestId}`);
            sendingMessage.hidden = true;
            reloading();
        }

        async function SetAccept(guestId) {
            console.log("working SendConfirmation");
            await fetch(`/admin/SetAcceptResponse/${guestId}`);
            reloading();
        }

        async function SetDecline(guestId) {
            console.log("working SendConfirmation");
            await fetch(`/admin/SetDeclineResponse/${guestId}`);
            reloading();
        }
        async function SendFailedMsg(guestId) {
            console.log("working SendConfirmation");
            sendingMessage.hidden = false;
            var result = await fetch(`/DefaultWhatsapp/sendMessage/${guestId}`);
            var data = await result.json();
            console.log(data);
            if (!data.success) {
                alertMessage.hidden = false;
                alertMessage.textContent = "????? ????? ?? ????? ?????? ??? ??????? (??????? ? ?????? ? ???? ????????) ? ?????? ?? ???? ????????"
            } else {
                alertMessage.hidden = true;
            }
            sendingMessage.hidden = true;
            reloading();
        }
        async function SendFailedImg(guestId,type) {
            console.log("working SendConfirmation");
            sendingMessage.hidden = false;
            var result = await fetch(`/DefaultWhatsapp/sendImage?id=${guestId}&&type=${type}`);
            var data = await result.json();
            console.log(data);
            if (!data.success) {
                alertMessage.hidden = false;
                alertMessage.textContent = "????? ????? ?? ????? ?????? ?????? ?? (?? ??????) ? ?????? ?? ???? ????????"
            } else {
                alertMessage.hidden = true;
            }
            sendingMessage.hidden = true;
            reloading();
        }
        async function SendFailedReminderMsg(guestId) {
            console.log("working SendConfirmation");
            sendingMessage.hidden = false;
            var result = await fetch(`/DefaultWhatsapp/sendRminderMessage/${guestId}`);
            var data = await result.json();
            console.log(data);
            if (!data.success) {
                alertMessage.hidden = false;
                alertMessage.textContent = "(????? ????? ?? ????? ?????? ?????? ?? (????? ???????"
            } else {
                alertMessage.hidden = true;
            }
            sendingMessage.hidden = true;
            reloading();
        }
        async function SendFailedCongratularionMsg(guestId) {
            console.log("working SendConfirmation");
            sendingMessage.hidden = false;
            var result = await fetch(`/DefaultWhatsapp/sendCongratularionMessage/${guestId}`);
            var data = await result.json();
            console.log(data);
            if (!data.success) {
                alertMessage.hidden = false;
                alertMessage.textContent = "(????? ????? ?? ????? ?????? ?????? ?? (????? ???????"
            } else {
                alertMessage.hidden = true;
            }
            sendingMessage.hidden = true;
            reloading();
        }
        async function GuestStatusRefresh(guestId, eventId) {
            console.log("working SendConfirmation");
            await fetch(`/admin/StatusRefreshIndividually/${guestId}?eventid=${@ViewBag.eventId}`);
            reloading();
        }
    </script>

    <script>
       var myTimer = setInterval(async () => {
            console.log("getdata");
            GetCardsData()
        }, 2000);
        stopIntervel();

        const buttonList = document.getElementById('buttonList');
        const downList = document.getElementById('dropList');
        const loader = document.getElementById('loader');
        const progressbar = document.getElementById('progressbar');
        const darkoverlay = document.getElementById('dark-overlay');
        const loaderText = document.getElementById('loaderText');

        buttonList.addEventListener('click', showOrHide);


        async function GetCardsData() {
            loaderText.textContent = "... ???? ????? ??????? ";
            console.log("working SendConfirmation");
            var loading = await fetch(`/admin/GetCurrentRefreshUpdates/${@ViewBag.EventId}`);
            console.log(loading);
            var data = await loading.json();
            console.log(data);
            console.log(data.totalCreatedCards);
            console.log(data.totalEventCards);
            progressbar.value = data.totalCreatedCards;
            progressbar.max = data.totalEventCards;
        }

        function showOrHide() {
            downList.hidden = !downList.hidden;
        }

        function startIntervel() {
            console.log("start intervel");
            myTimer = setInterval(async () => {
                console.log("getdata");
                GetCardsData()
            }, 2000);
        }

        function stopIntervel() {
            clearInterval(myTimer);
        }
        
        function RefreshALl(eventID,type) {
            console.log(type);
            $.ajax({
                type: 'GET',
                url: '/admin/refreshall?id=' + eventID + '&&type=' + type,
                cache: false,
                beforeSend: function (xhr) {
                    loaderText.textContent = "... ???? ????? ??????? ";
                    loader.hidden = false;
                    startIntervel();
                    loader.hidden = false;
                    darkoverlay.hidden = false;
                },
                success: function (response) {
                    console.log(response);
                    if (response.succeeded == true) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "?? ????? ???????"
                        });
                        loader.hidden = true;
                        stopIntervel();
                        console.log("refresh finished");
                        loader.hidden = true;
                        darkoverlay.hidden = true;
                    }
                    else {
                        Swal.fire({
                            position: "center",
                            icon: "error",
                            title: "?? ????? ??????? , ??? ??? ?? ",
                            text: "Error:" + response.result,
                           
                        });
                        loader.hidden = true;
                        stopIntervel();
                        console.log("refresh finished");
                        loader.hidden = true;
                        darkoverlay.hidden = true;
                    }
                },
                error: function (request, status, error) {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "Oops...Something went wrong! Please try again later!",
                        text: "Error:" + request.responseText

                    })
                },
                complete: function () {
                    $("#Spinn").css("display", "none");
                },
            });
            
        };

        function myConfirmatin(msg) {
            return confirm(msg);
        }

        var arabicTable = document.getElementById("arabicTable");
        var englishTable = document.getElementById("englishTable");

        arabicTable.style.display = "block";
        englishTable.style.display = "none";

        function changeLanguage() {
            var arabicTable = document.getElementById("arabicTable");
            var englishTable = document.getElementById("englishTable");

            if (document.getElementById('arabicButton').checked) {
        @language = document.getElementById('arabicButton').value;
                arabicTable.style.display = "block";
                englishTable.style.display = "none";
            }
            if (document.getElementById('englishButton').checked) {
        @language = document.getElementById('englishButton').value;
                englishTable.style.display = "block";
                arabicTable.style.display = "none";
            }
            console.log(@language);
        }
        document.querySelectorAll('.rotate-icon').forEach(function (element) {
            element.addEventListener('click', function () {
                element.classList.add('rotating');

                // Automatically remove the class after the animation ends
                setTimeout(function () {
                    element.classList.remove('rotating');
                }, 600); // Match the duration of the animation (0.6s)
            });
        });
    </script>
    }




<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        left: -200px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content:hover {
        background-color: #ccc;
    }
</style>