@using EventPro.DAL.Models;
@inject EventProContext context;
@model EventPro.DAL.Models.VwEvents

@{
    ViewData["Title"] = "EventCatgory";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src=@ViewBag.Icon alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">
                            @Model.SystemEventTitle &nbsp;@if (!User.IsInRole("Agent") && !User.IsInRole("Accounting"))
                            {
                                <a href="~/admin/editevent/@Model.Id"><i class="nav-icon fas fa-pen"></i></a>
                            }
                        </h3>

                        <p class="text-muted text-center">@Model.Category</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Event Code</b> <a class="float-right">@{var eventCode = "E0000" + Model.Id; }@eventCode</a>
                            </li>
                            <li class="list-group-item">
                                <b>Linked To</b> <a class="float-right"> @(Model.LinkedEvent == null ? "--" : Model.LinkedEvent)</a>
                            </li>
                            <li class="list-group-item">
                                <b>Scheduled</b> <a class="float-right">@Convert.ToDateTime(Model.EventFrom).ToString("dd/MMM/yyyy")</a>
                            </li>
                            <li class="list-group-item">
                                <b>Venue</b> <a class="float-right">@Model.EventVenue</a>
                            </li>
                            <li class="list-group-item">
                                <b>Direction</b> <a class="float-right" style="color:blue;cursor:pointer; font-size:small; font-style:italic" id="GmapCode" onclick="showMap()"><u>Click here</u></a>
                            </li>
                            <li class="list-group-item">
                                @{
                                    var time = context
                                    .Events
                                    .FirstOrDefault(e => e.Id == Model.Id)
                                    .AttendanceTime.GetValueOrDefault().ToString("HH:mm");
                                }
                                <b>Attendance Time</b> <a class="float-right">@time</a>
                            </li>
                            <li class="list-group-item">
                                <b>Event's whatsapp provider </b> <a class="float-right">@ViewBag.EventWhatsappProvider </a>
                            </li>
                            <li class="list-group-item">
                                <b>Current whatsapp provider  </b> <a class="float-right">@ViewBag.CurrentUsedWhatsappProvider </a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About Event</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Description</strong>

                        <p class="text-muted">
                            @Html.Raw(Model.EventDescription)
                        </p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                        <p class="text-muted">@Model.EventVenue</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Created by</strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">@Model.FirstName</span>
                            <span class="tag tag-success">@Model.LastName</span>
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Status</strong>

                        <p class="text-muted">@Model.Status</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Guests</a></li>

                            @if (!User.IsInRole("Agent") && !User.IsInRole("Accounting") )
                            {
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Invitation Card</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                                <li class="nav-item"><a class="nav-link" href="#gatekeeper" data-toggle="tab">Gatekeeper</a></li>
                            }
@*                             @if (!User.IsInRole("Agent") )
                            {
                                <li class="nav-item"><a class="nav-link" href="#invoice" data-toggle="tab">Invoice</a></li>
                            } *@

                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="activity">
                                <div class="card">
                                    @if (!User.IsInRole("Agent") && !User.IsInRole("Accounting") )
                                    {
                                        <a href="~/admin/guests/@Model.Id" class="btn btn btn-warning btn-sm" style="width: 200px;">Manage Guest</a>
                                    }
                                    <hr />
                                    <div class="container-fluid">

                                        <table id="guestTable" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Guest Name</th>
                                                    <th>Guest Name</th>
                                                    <th>Mobile No</th>
                                                    <th>Validity</th>
                                                </tr>
                                            </thead>
                                           
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                <a href="~/admin/CardPreview/@Model.Id" class="btn btn btn-danger btn-sm">Card Designer</a>
                                <hr />
@*                                 @{
                                    var imageURL = "/upload/preview/" + ViewBag.CardImage + "?" + @DateTime.Now.Ticks;
                                } *@
                                <img id="mydivheader" src='@(Url.Content($"~/upload/cardpreview/{Model.Id}.png?v={DateTime.UtcNow.Ticks}"))' style="width:100%; height:auto;">
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="settings">
                                <a href="~/admin/QRSettings/@Model.Id" class="btn btn btn-warning btn-sm" style="width: 200px;">Manage QR</a>
                                <hr />
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Barcode Size</label>
                                                @ViewBag.CardInfo.BarcodeWidth X @ViewBag.CardInfo.BarcodeHeight
                                            </div>

                                            <div class="form-group required">
                                                <label>Background Color</label> @ViewBag.CardInfo.BackgroundColor
                                            </div>
                                            <div class="form-group required">
                                                <label>Foreground Color</label> @ViewBag.CardInfo.ForegroundColor
                                            </div>
                                            <div class="form-group required">
                                                <label>Default Font</label> @ViewBag.CardInfo.DefaultFont
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Barcode Preview</label><br />
                                                @{ var img = Model.Id + ".png";}
                                                <img src="@ViewBag.CardInfo.BarcodeColorCode" width="@ViewBag.CardInfo.BarcodeHeight px" height=" @ViewBag.CardInfo.BarcodeHeight px" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="gatekeeper">
                                <div class="card">
                                    <table id="assignedGakeKeeper" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Full Name</th>
                                                <th>Full Name</th>
                                                <th>Username</th>
                                                <th>IBN No</th>
                                                <th>Account No</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                           @*  <div class="tab-pane" id="invoice" style="width:100%;height:900px;">
                                @{ var fileName = Model.Id + ".pdf";}
                                <embed src="~/Upload/Invoice/@fileName?@DateTime.Now"
                                       type="application/pdf"
                                       frameBorder="0"
                                       scrolling="auto"
                                       height="100%"
                                       width="100%">
                                   </embed>

                            </div> *@
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


@section Scripts {
    <script src="~/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/assets/plugins/datatables/js/jquery.datatables.js"></script>
    <script src="~/assets/plugins/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/js/datatables.bootstrap4.js"></script>
    <script>

        $(document).ready(function () {
            console.log(@Model.Id);
            $('#guestTable').DataTable({
                "bStateSave": true,
                "fixedHeader": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                dom: 'lfrBtip',
                buttons: [
                    'copy', 'csv', 'excel', 'print'
                ],
                "serverSide": true,
                "processing": true,
                "filter": true,
                "ajax": {
                    "url": "/admin/GetGuests?id=" + @Model.Id,
                    "type": "POST",
                    "dataType": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "name", "name": "Name", "autowidth": true, "orderable": false },
                    { "data": "name", "name": "Name", "autowidth": true, "orderable": false },
                    {
                        "render": function (data, type, row) {
                            return `<a href="tel:${row.phoneNumber}" if(${row.isValidPhoneNumber}{
                                            style="color:green;"} else{
                                                    style="color:red;"})>${row.phoneNumber}</a>`
                        }, "autowidth": true, "data": null, "orderable": false
                    },
                    { "data": "scannedInfo", "name": "ScannedInfo", "autowidth": true, "orderable": false },

                ]

            });
        });

               $(document).ready(function () {
                $('#assignedGakeKeeper').DataTable({
                "fixedHeader": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                    "info": true,
                        "autoWidth": false,
                        "responsive": true,
                        dom: 'lrBtp',
                        buttons: [
                            'copy', 'csv', 'excel', 'print'
                        ],
                        "serverSide": true,
                        "processing": true,
                        "filter": true,
                        "ajax": {
                            "url": "/admin/GetAssignedGateKeepers?eventId= " + @Model.Id,
                            "type": "POST",
                            "dataType": "json"
                        },
                        "columnDefs": [{
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        }],
                        "columns": [
                            { "data": "name", "name": "Name", "autowidth": true, "orderable": false },
                            { "data": "name", "name": "Name", "autowidth": true, "orderable": false },
                            { "data": "userName", "name": "UserName", "autowidth": true, "orderable": false },
                            { "data": "ibnNo", "name": "IbnNo", "autowidth": true, "orderable": false },
                            { "data": "accountNo", "name": "AccountNo", "autowidth": true, "orderable": false },
                        ]

                    });
                            });




    </script>
    <script>
        function showMap() {
            //window.open("https://goo.gl/maps/@Model.Glocation" , '_blank');
            window.open("https://maps.app.goo.gl/@Model.Glocation", '_blank');
        }
    </script>
}

